.container{
	max-width:1000px;
}
.text_right{
	text-align: right;
}
.text_left{
	text-align: left;
}

.btn-primary{
	color:white;
	background-color:#ffce45;
	border-color:#ffce45;
	font-weight:lighter;
	transition:color 0.5s ease, background-color 0.5s ease;
	-webkit-transition:color 0.5s ease, background-color 0.5s ease;
}
.btn-primary:hover{
	color:#ffce45;
	background-color:white;
	border-width:1px;
	font-weight:lighter;
}
.btn-default{
	font-weight:lighter;
	border-color:#adadad;
	transition:color 0.5s ease, background-color 0.5s ease;
	-webkit-transition:color 0.5s ease, background-color 0.5s ease;
}
.btn-default:hover{
	font-weight:lighter;
	background-color: #adadad;
	color:white;
}

.btn-buy{
	color:white;
	font-weight: lighter;
	width:49%;
	display:block;
	float:left;
	border-radius:0;
	background-color: rgb(69,69,69);
	border-color: rgb(69,69,69);
	transition:color 0.5s ease, background-color 0.5s ease, transform 0.5s ease;
	-webkit-transition:color 0.5s ease, background-color 0.5s ease, transform 0.5s ease;
}
.btn-buy:hover{
background-color: white;
transform:scale(1.1,1.1);
}
@media (max-width: 767px){
	.btn-primary{
		width:100%;
	}
}

.carousel-control.right, .carousel-control.left {
background:none;
}
.item_slide{
width:100%;
}
#nav_div{
	width:100%;
	z-index:9999;
}
#main_div{
	padding-bottom:50px;
}
.main_banner{
	margin-top:1em;
	overflow:hidden;
}
.main_banner .main_img{
	transition:transform 0.5s ease, opacity 0.5s ease;
	-webkit-transition:transform 0.5s ease, opacity 0.5s ease;
}
.main_banner:hover .main_img{
	transform:scale(1.05,1.05);
	opacity:0.8;
}
.main_img{
	width:100%;
}
#index_box{
	padding-top:10px;
}
#footer_div{
	width:100%;
	background-color:#2a2730;
	color:white !important;
	padding-top:30px;
	padding-bottom:30px;
}
.gray{
	color:#99979c;
}
#item_price{
	font-size:16px;
	color:black;
	font-weight:bold;
}
#quantity_div{
	width:110px;
}
#quantity_div .option_minus, #quantity_div .option_plus{
	border-radius: 0;
	border-color:rgb(98,98,98);
	background-color:rgb(112,112,112);
}
#quantity_div .option_minus:hover, #quantity_div .option_plus:hover{
	background-color:rgb(112,112,112);
	border-color:rgb(98,98,98);
}
#cart_quantity_div{
	width:170px;
	margin:0 auto;
}
@media (max-width: 767px){
	#cart_quantity_div{
		margin:0;
	}
}
#cart_quantity_div .option_minus, .option_plus{
	border-radius: 0;
	border-color:rgb(98,98,98);
	background-color:rgb(112,112,112);
}
#cart_quantity_div .option_minus:hover, .option_plus:hover{
	background-color:rgb(112,112,112);
	border-color:rgb(98,98,98);
}

#quantity{
	text-align:center;
	border-color:rgb(98,98,98);
}
.item_card{
	margin-top:30px;
	margin-bottom:30px;
}
.item_card img{
	opacity: 1;
    -webkit-transition: opacity 0.3s; /* Safari */
    transition: opacity 0.3s;
}
.item_card:hover img{
	opacity:0.6;
}
#detail_div{
	padding-top:30px;
	padding-bottom:30px;
}
#detail_inner{
	padding-bottom:30px;
}
#cart_thead th, td{
	text-align:center;
}
#cart_tbody td{
	vertical-align: middle;
}
#option_table thead tr th{
border-bottom:1px solid;
}
#option_table .option_td{
	vertical-align: middle;
	text-align:left;
}
.message{
	position:absolute;
	width:100%;
	text-align:center;
}
#logo img{
position:absolute;
z-index:99999;
top:-4px;
width:210px;
}
@media (max-width: 767px){
	#logo img{
		top:8px;
	}
}
#orders_table thead tr th{
text-align:center;
}
.board_list_date{
	width:100px;
}
.board_list_hits{
	width:80px;
}
#ingredient_div{
	max-width:800px;
	margin:0 auto;
}
#ingredient_div table thead tr th{
	text-align:center;
}
.board_list_th{
	text-align: center;
}
#nav_div ul{
height:60px;
line-height:60px;
margin:0;
}
#nav_div ul li{
display: block;
float:left;
margin-left:6px;
line-height: 60px;
}
#buy_now_btn{
	float:right;
}
#detail_middle_nav{
	border-top:1px solid;
}
#detail_middle_nav .btn-group button{
	border:none;
	border-radius:0;
	text-decoration:underline;
}
#detail_middle_nav .btn-group .active{
box-shadow:none;
}
.aboutus_a{
	color:grey;
}
.red{
	color:red;
}
#ingredient_div{
	height:200px;
	overflow-y: scroll;
}
.lighter{
	font-weight: 200;
}
.full_height{
	height:100%;
}
.center{
	margin:0 auto;
	text-align:center;
}
#main_navbar{
	border:none;
	background-color:white;
}
#main_navbar .navbar-nav>li>a{
	color:black;
	font-weight:bold;
	transition:color 0.3s ease;
	-webkit-transition:color 0.3s ease;
}
#main_navbar .navbar-nav>li>a:hover{
	color:#ffce45;
}
#main_navbar .navbar-nav .open .dropdown-menu>li>a{
	color:black;
	transition:color 0.3s ease;
	-webkit-transition:color 0.3s ease;
}
#main_navbar .navbar-nav .open .dropdown-menu>li>a:hover{
	color:#ffce45;	
}
#main_navbar .navbar-toggle{
	color:black;
}


/* 카트 테이블 시작 */
@media (max-width: 767px){
    table.cart-table{
      box-shadow: none;  
    }
    table.cart-table thead{
      display: none; 
    }
  table.display th,
  table.display td{
    padding: .5em;
  }
  table.cart-table td:nth-child(2),
  table.cart-table td:nth-child(3),
  table.cart-table td:nth-child(4),
  table.cart-table td:nth-child(5){
    padding-left: 96px;
    border:none;
    text-align:left;
  }    
    table.cart-table tr,
    table.cart-table td{
        display: block;
    }
    table.cart-table tr{
        position: relative;
        margin-bottom: 1em;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    }
    table.cart-table td.cart_thumb{
        position: absolute;
        top: 10px;
        left: 0;
        border: none;
        background: none;
    }
    table.cart-table td.cart_delete{
        position: absolute;
        bottom: 0;
        left: 16px;
        border: none;
        background: none;
    }
}

/* 카트 테이블 끝 */

/* 구매 테이블 시작 */
@media (max-width: 767px){
    table.buy-table{
      box-shadow: none;  
    }
    table.buy-table thead{
      display: none; 
    }
  table.display th,
  table.display td{
    padding: .5em;
  }
  table.buy-table td:nth-child(2),
  table.buy-table td:nth-child(3),
  table.buy-table td:nth-child(4),
  table.buy-table td:nth-child(5){
    padding-left: 96px;
    border:none;
    text-align:left;
  }
    table.buy-table tr,
    table.buy-table td{
        display: block;
    }
    table.buy-table tr{
        position: relative;
        margin-bottom: 1em;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    }
    table.buy-table td.buy_thumb{
        position: absolute;
        top: 25px;
        left: 0;
        border: none;
        background: none;
    }
    table.buy-table td.buy_price:before{
    	content:'가격 : ';
	}
    table.buy-table td.buy_quantity:before{
    	content:'수량 : ';
	}
    table.buy-table td.buy_quantity:after{
    	content:' 개';
	}
    table.buy-table td.buy_sub_total:before{
    	content:'합계 : ';
	}
	#coupon_select_td{text-align:left;}
}

/* 카트 테이블 끝 */

.blog_a{
	text-decoration: underline;
}
.blog_a:hover{
	text-decoration: underline;
}
#sample_request_btn{
	position:fixed;
	width:70px;
	height:70px;
	border-radius:35px;
	background-color:#ffce45;
	right:10px;
	bottom:10px;
	z-index:99999;
	text-align:center;
	padding-top:15px;
}
#sample_request_btn a{
color:white;
font-size:15px;
line-height:15px;
}
.review_head_div1{
	line-height:38px;
	text-align:center;
	font-size:18px;
}
.review_head_div2{
	line-height:74px;
	text-align:center;
	font-size:18px;
}
.sample_item_div{
	vertical-align: middle;
	border-top:1px solid #ccc;
}
.sample_item_div_2{
margin-top:30px;
}
.sample_item_div_3{
	line-height:100px;
}
@media (max-width: 991px){
	.sample_item_div_2{
	margin-top:0;
	}
}
@media (max-width: 767px){
	.sample_item_div_1{
		padding:0;
	}
	.sample_item_div_2{
		margin-top:10px;
	}
}

.badge-red{
	background-color:red;
}

