
.carousel-control.right, .carousel-control.left {
background:none;
}
.item_slide{
width:100%;
}
#nav_div{
	width:100%;
	z-index:9999;
}
#main_div{
	padding-bottom:50px;
}
.main_img{
	width:100%;
}
#index_box{
	padding-top:10px;
}
#footer_div{
	width:100%;
	background-color:#2a2730;
	color:white;
	padding-top:30px;
	padding-bottom:30px;
}
.gray{
	color:#99979c;
}
#item_price{
	font-size:16px;
	color:black;
	font-weight:bold;
}
#quantity_div{
	width:110px;
}
#quantity_div .option_minus, .option_plus{
	border-radius: 0;
	border-color:rgb(98,98,98);
	background-color:rgb(112,112,112);
}
#quantity_div .option_minus:hover, .option_plus:hover{
	background-color:rgb(112,112,112);
	border-color:rgb(98,98,98);
}
#quantity{
	text-align:center;
	border-color:rgb(98,98,98);
}
.item_card{
	margin-top:30px;
	margin-bottom:30px;
}
#detail_div{
	padding-top:30px;
	padding-bottom:30px;
}
#detail_inner{
	padding-bottom:30px;
}
#cart_thead th, td{
	text-align:center;
}
#cart_tbody td{
	vertical-align: middle;

}
#option_table thead tr th{
border-bottom:1px solid;
}
#option_table .option_td{
	vertical-align: middle;
	text-align:left;	
}
.message{
	position:absolute;
	width:100%;
	text-align:center;
}
#logo img{
position:absolute;
z-index:99999;
top:-98px;
width:210px;

}
#orders_table thead tr th{
text-align:center;
}
.board_list_date{
	width:100px;
}
.board_list_hits{
	width:80px;
}
#ingredient_div{
	max-width:800px;
	margin:0 auto;
}
#ingredient_div table thead tr th{
	text-align:center;
}
.board_list_th{
	text-align: center;
}
#nav_div ul{
height:60px;
line-height:60px;
margin:0;
}
#nav_div ul li{
display: block;
float:left;
margin-left:6px;
line-height: 60px;
}
#go_cart_btn, #buy_now_btn{
	width:49%;
	display:block;
	float:left;
	border-radius:0;
	background-color: rgb(69,69,69);
	border-color: rgb(69,69,69);
}
#buy_now_btn{
	float:right;
}
#detail_middle_nav{
	border-top:1px solid;
}
#detail_middle_nav .btn-group button{
	border:none;
	border-radius:0;
	text-decoration:underline;
}
#detail_middle_nav .btn-group .active{
box-shadow:none;
}
.aboutus_a{
	color:grey;
}
.red{
	color:red;
}