{% extends "base.html" %}

{% block content %}
<div class="container">
	<h2>{{board_name}} 글쓰기</h2>
	<br/>
	<form method="POST" action="{% url 'board_write' %}">
	{% csrf_token %}
		<input id="board_name" name="board_name" type="text" class="hidden" value="{{ board_name }}">
		{{boardwriteform.title}}
		<br/>
		<label>비밀글입니다.</label>
		<input type="checkbox" name="secret" checked="checked">
		<br/>
		{% if board_name == 'Sample' %}
			<div>
				<p>써주실 내용 : 성함, 주소, 연락처, 원하시는 상품(스무딩, 너리싱, 클래리파잉, 리제너레이팅)</p>
			</div>
		{% endif %}
		{{boardwriteform.content}}
		<button type="submit" class="btn btn-lg btn-primary pull-right">글쓰기</button>
	</form>
</div>
{% endblock %}