{% extends "base.html" %}
{% load humanize %}
{% load staticfiles %}

{% block content %}
<div class="container">
	{{ head1|safe }}
</div>

<div class="clearfix"></div>
<br/><br/>


<div class="container" id="index_box" style="display:none;">
	<div class="row">
		{% for item in items1 %}
		<div class="item_card_wrap">
			<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 item_card">
				<a href="{% url 'detail' %}?item_id={{item.item_id}}" class="text-center">
					<img class="img-responsive" src="{{ item.image0.url }}">
					<p><span class="gray">{{item.item_desc}}</span></p>
					<h4>{{item.item_name}}</h4>
					<p><strike class="gray">{{item.custom_price|intcomma}}원</strike>  {{item.price|intcomma}}원 </p>
				</a>
			</div>
		</div>
		{% if forloop.counter|divisibleby:"2" %}
			{%  if forloop.counter|divisibleby:"4" %}
				<div class="clearfix visible-md-block visible-lg-block"></div>
			{%  else %}
				<div class="clearfix visible-xs-block visible-sm-block"></div>
			{% endif %}
		{% endif %}
		{% endfor %}
	</div>
</div>

<div class="container">
	<h2 class="text-center">Editor's Pick</h2>
	<div id="owl_box1">
	{% for item in items1 %}
			<div class="item_card">
				<a href="{% url 'detail' %}?item_id={{item.item_id}}" class="text-center">
					<img class="img-responsive" src="{{ item.image0.url }}">
					<p><span class="gray">{{item.item_desc}}</span></p>
					<h4>{{item.item_name}}</h4>
					<p>
						{% if item.is_discount %}
							<strike class="gray">{{item.custom_price|intcomma}}원</strike>
							{{item.price|intcomma}}원
							<span class="badge badge-red">{{ item.discount_percent }}%↓</span>
						{% else %}
							{{item.price|intcomma}}원
						{% endif %}
					</p>
				</a>
			</div>
	{% endfor %}
	</div>
</div>
<script>
$(document).ready(function() {
  $("#owl_box1").owlCarousel({
  	 items : 4,
    itemsCustom : false,
    itemsDesktop : [1199,4],
    itemsDesktopSmall : [980,3],
    itemsTablet: [768,2],
    itemsTabletSmall: false,
    itemsMobile : [479,1],
    singleItem : false,
    itemsScaleUp : false,
  });
});
</script>

<div class="clearfix"></div>
<br/><br/>

<div class="container">
	<h2 class="text-center">Just Arrived</h2>
	<div id="owl_box2">
	{% for item in items2 %}
			<div class="item_card">
				<a href="{% url 'detail' %}?item_id={{item.item_id}}" class="text-center">
					<img class="img-responsive" src="{{ item.image0.url }}">
					<p><span class="gray">{{item.item_desc}}</span></p>
					<h4>{{item.item_name}}</h4>
					<p>
						{% if item.is_discount %}
							<strike class="gray">{{item.custom_price|intcomma}}원</strike>
							{{item.price|intcomma}}원
							<span class="badge badge-red">{{ item.discount_percent }}%↓</span>
						{% else %}
							{{item.price|intcomma}}원
						{% endif %}
					</p>
				</a>
			</div>
	{% endfor %}
	</div>
</div>
<script>
$(document).ready(function() {
  $("#owl_box2").owlCarousel({
  	 items : 4,
    itemsCustom : false,
    itemsDesktop : [1199,4],
    itemsDesktopSmall : [980,3],
    itemsTablet: [768,2],
    itemsTabletSmall: false,
    itemsMobile : [479,1],
    singleItem : false,
    itemsScaleUp : false,
  });
});
</script>


{% endblock %}