{% extends "base.html" %}
{% block content %}
<script>
	$(function() {
					        jQuery.ajax({
					            url: "/order/complete/", //cross-domain error가 발생하지 않도록 동일한 도메인으로 전송
					            type: 'POST',
					            dataType: 'json',
					            data: {
					                imp_uid : 'imp_639132171191',
					                paid_amount : 1000,
					                //기타 필요한 데이터가 있으면 추가 전달
					            }
					        }).done(function(data) {
					        	alert('통신성공');
					        	if(data.check === true){
						        	alert('if문 안');
					        	}
					        }).fail(function(){
					        	alert('실패');
					        }).always(function(){
					        	alert('항상호출');					        	
					        })
	})
</script>
{% endblock %}