{% extends "base.html" %}
{% load humanize %}

{% block content %}
<script type="text/javascript" src="https://service.iamport.kr/js/iamport.payment-1.1.1.js"></script>
<div class="container">
	<h2>상품정보</h2>
	<div class="table-responsive">
		<table class="table">
			<thead id="cart_thead">
				<tr>
					<th>사진</th>
					<th>아이템-옵션</th>
					<th>가격</th>
					<th>개수</th>
					<th>합계</th>
				</tr>
			</thead>
			<tbody id="cart_tbody">
				{% for cart_item in cart_items %}
				<tr>
					<td><img style="max-width:80px;" src="{{cart_item.item.image0.url}}"/></td>
					<td>{{ cart_item.item }} : {{ cart_item.item_option }}( +{{cart_item.item_option.option_price|intcomma}}원 ) </td>
					<td>{{cart_item.item_plus_option_price|intcomma}}원</td>
					<td>{{cart_item.quantity}}</td>
					<td>{{cart_item.sub_total_price|intcomma}}원</td>
				</tr>
				{% endfor %}
				<tr>
					<td colspan="4">주문금액 </td>
					<td>{{ item_price|intcomma }}원</td>
				</tr>
				<tr>
					<td colspan="4">배송비</td>
					<td>{{ delivery_price|intcomma }}원</td>
				</tr>
				<tr>
					<td colspan="4">총계</td>
					<td>{{ total_price|intcomma }}원</td>
				</tr>
				<tr>
					<td colspan="4">구매로 받는 포인트</td>
					<td>{{ point_made|intcomma }}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<form id="aksgdltktpdy" method="post" action="{% url 'order_update' %}">
	{% csrf_token %}
	<h2>할인받기</h2>

	<div class="table-responsive">
		<table class="table">
			<tr>
				<th>쿠폰선택</th>
				<td>
					{% if not request.user.is_authenticated %}
						<p>로그인하시면 쿠폰을 사용하실 수 있습니다.</p>
					{% else %}
						{% if not coupons %}
							<p>사용가능한 쿠폰이 없습니다.</p>
						{% endif %}
					<button class="btn btn-default" type="button" data-toggle="collapse" data-target="#couponRegist" aria-expanded="false" aria-controls="collapseExample">
					  쿠폰 등록하기
					</button>
					<div class="collapse" id="couponRegist">
					  <div class="well form-inline	">
					    <input type="text" class="form-control" id="coupon_id" name="coupon_id">
					    <a class="btn btn-default" id="coupon_submit">제출</a>
					  </div>
					</div>
					<script>
					$(document).ready(function () {
						$("#coupon_submit").click(function(){
							var coupon_id = $("#coupon_id").val();
								$.ajax({
									url: "/order/coupon_check/",
									type: "POST",
									contentType: "application/x-www-form-urlencoded",
									data: {
										username : '{{request.user}}',
										coupon_id : coupon_id,
									},
									success: function(data){
										var obj = jQuery.parseJSON( data );
										console.log(obj.check);
										if ( obj.check == "True" ) {
											alert('쿠폰이 정상 등록 되었습니다.');
											location.reload();
										} else {
											alert('쿠폰이 유효하지 않습니다. 다시 확인해주세요.');
										}
									},
							});
						})
					})
					</script>
					{% endif %}
					<div class="radio">
					  <label>
					    <input type="radio" name="selected_coupon_id" id="id_selected_coupon_id" data-quantity="0" class="nocoupon" value="nocoupon" checked>
					    쿠폰 사용 안함
					  </label>
					</div>
					{% for coupon in coupons%}
					<div class="radio">
					  <label>
					    <input type="radio" name="selected_coupon_id" id="id_selected_coupon_id"  data-quantity="{{ coupon.quantity }}" class="{{ coupon.kind_of }}" value="{{ coupon.coupon_id }}" >
					    {{ coupon.subject }} ({{coupon.condition|intcomma}}원 이상 구매시)
					  </label>
					</div>
					{% endfor %}
				</td>
			</tr>
			<tr {% if anonymous %} class="hidden" {% endif %} >
				<th><label for="id_point_price">포인트 사용 (사용가능 : {{request.user.profile.point|intcomma}})</label></th>
				<td><input id="id_point_price" class="form-control" name="point_price" type="number" value=0 /></td>
			</tr>
			<tr>
				<th>총계</th>
				<td>{{ total_price }}원</td>
			</tr>
			<tr>
				<th>쿠폰할인</th>
				<td class="red">-<span id ="discount_display">0</span>원</td>
			</tr>
			<tr>
				<th>포인트할인</th>
				<td class="red">-<span id ="point_display">0</span>원</td>
			</tr>
			<tr>
				<th>실결제금액</th>
				<td><span id ="real_pay_display">{{ total_price|intcomma }}</span>원</td>
			</tr>

		</table>
	</div>

	<h2>배송정보</h2>
	<div class="table-responsive">

			<table class="table">
				<tr class="hidden">
					<th><label for="id_username">username</label></th>
					<td><input id="id_username" name="username" type="text" value="{{request.user}}" readonly="readonly"/></td>
				</tr>
				<tr class="hidden">
					<th><label for="id_order_id">Order id:</label></th>
					<td><input id="id_order_id" name="order_id" type="text" readonly="readonly"/></td>
				</tr>
				<tr class="hidden">
					<th><label for="id_cart_id">Cart id:</label></th>
					<td><input value = "{{cart_id}}" id="id_cart_id" name="cart_id" type="text" readonly="readonly"/></td>
				</tr>
				<tr class="hidden">
					<th><label for="id_item_price">Item price:</label></th>
					<td><input value = "{{item_price}}" id="id_item_price" name="item_price" type="number" readonly="readonly"/></td>
				</tr>
				<tr class="hidden">
					<th><label for="id_delivery_price">Delivery price:</label></th>
					<td><input value = "{{delivery_price}}" id="id_delivery_price" name="delivery_price" type="number" readonly="readonly"/></td>
				</tr>
				<tr class="hidden">
					<th><label for="id_total_price">Total price:</label></th>
					<td><input value = "{{total_price}}" id="id_total_price" name="total_price" type="number" readonly="readonly"/></td>
				</tr>
				<tr class="hidden">
					<th><label for="id_pay_price">Pay price:</label></th>
					<td><input id="id_pay_price" name="pay_price" type="number" readonly="readonly"/></td>
				</tr>
				<tr class="hidden">
					<th><label for="id_coupon_price">Coupon price:</label></th>
					<td><input id="id_coupon_price" name="coupon_price" type="number" value="0" /></td>
				</tr>
				<tr class="hidden">
					<th><label for="id_point_made">Point made:</label></th>
					<td><input value="{{point_made}}" id="id_point_made" name="point_made" type="number" readonly="readonly"/></td>
				</tr>
				<tr>
					<th><label for="id_name">성함</label></th>
					<td><input value = "{{ request.user.first_name }}" class="form-control" id="id_name" name="name" type="text" /></td>
				</tr>
				<tr>
					<th><label for="id_email">Email</label></th>
					<td><input value = "{{ request.user.email }}" class="form-control" id="id_email" name="email" type="text" /></td>
				</tr>
				<tr>
					<th><label for="id_postcode">우편번호</label></th>
					<td style="text-align:left;">
						<div class="form-inline">
							<input type="text" id="id_postcode" name="postcode" class="form-control" style="max-width:100px; display:inline; vertical-align: top;" placeholder="우편번호" value="{{ user.profile.postcode }}">
							<input type="button" class="btn btn-default"onclick="sample3_execDaumPostcode()" value="우편번호 찾기"><br>
						</div>
					</td>
				</tr>
				<tr>
					<th><label for="id_address">주소</label></th>
					<td>
						<div id="wrap" style="display:none;border:1px solid;min-width:100%;height:400px;margin:5px 0;position:relative">
						<img src="//i1.daumcdn.net/localimg/localimages/07/postcode/320/close.png" id="btnFoldWrap" style="cursor:pointer;position:absolute;right:0px;top:-1px;z-index:1" onclick="foldDaumPostcode()" alt="접기 버튼">
						</div>
						<input type="text" id="id_address" name="address" class="d_form large form-control" placeholder="주소" value="{{ user.profile.address }}">						
					</td>
				</tr>
				<tr>
					<th><label for="id_address_detail">상세주소</label></th>
					<td>
						<input type="text" id="id_address_detail" name="address_detail" class="d_form large form-control" placeholder="상세주소" value="{{ user.profile.address_detail }}">
					</td>
				</tr>
				<tr>
					<th><label for="id_phone">폰번호</label></th>
					<td><input value = "{{request.user.profile.phone}}" class="form-control" id="id_phone" name="phone" type="text" /></td>
				</tr>
				<tr>
					<th><label for="id_postscript">남기는 말</label></th>
					<td><input class="form-control" id="id_postscript" name="postscript" type="text" /></td>
				</tr>
				<tr>
					<th>결제방법선택</th>
					<td>
						<label class="radio-inline">
						  <input type="radio" name="pay_method" id="pay_method" value="card"checked="checked"> 신용카드
						</label>
						<label class="radio-inline">
						  <input type="radio" name="pay_method" id="pay_method" value="trans"> 계좌이체
						</label>
						<label class="radio-inline">
						  <input type="radio" name="pay_method" id="pay_method" value="vbank"> 무통장입금
						</label>
					</td>
				</tr>
			</table>
			<div class="checkbox {% if anonymous %} hidden {% endif %}"  >
				<label>
					<input name="mypage_check" id="id_mypage_check" type="checkbox" checked="checked">마이페이지에 정보를 반영합니다.
				</label>
			</div>
		</form>
		<div>
			<a id="buy_btn"  class="btn btn-lg btn-primary">구매하기</a>
		</div>
		<script>
		$(function() {
			var raw  = new Date();
			var cart_id = $('#id_cart_id').val();
			var order_id = raw.getFullYear().toString() + ("0"+(raw.getMonth()+1)).slice(-2).toString() + ("0"+raw.getDate()).slice(-2).toString()+("0"+raw.getHours()).slice(-2).toString() + ("0"+raw.getMinutes()).slice(-2).toString() + ("0"+raw.getSeconds()).slice(-2).toString() + "_" + cart_id;
			var test = raw.getMinutes();
			$("#id_order_id").val(order_id);
			//결제금액 계산
			var tot = $('#id_total_price').val();
			$("#id_pay_price").val(tot);
			//포인트 사용시
			$( "#id_point_price" ).change(function() {
				var point = $('#id_point_price').val();
				if(point<0){
					point=0;
				}else if(point>{% if anonymous %}0{% else %}{{ request.user.profile.point }}{%endif %}){
					point= {% if anonymous %}0{% else %}{{ request.user.profile.point }}{%endif %} ;
				}
				$("#id_point_price").val(point);
				var pay = tot-point-$('#id_coupon_price').val();
				$('#id_pay_price').val(pay);
				//표시내용 바꾸기
				$('#point_display').text(point);
				$('#real_pay_display').text(pay);
			});
			//쿠폰사용시 쿠폰인풋 변경
			$('input[name="selected_coupon_id"]').change(function() {
				var coupon_kind_of = $('input[name="selected_coupon_id"]:checked').attr('class');
				var coupon_value = $('input[name="selected_coupon_id"]:checked').attr('data-quantity');
				var coupon_discount = 0;
				var point = $('#id_point_price').val();
				if (coupon_kind_of=="nocoupon"){
					coupon_discount = 0;
				}else if (coupon_kind_of=="flat"){
					coupon_discount = coupon_value;
				}else if (coupon_kind_of =="rate"){
					coupon_discount = tot * coupon_value / 100;
				}else if (coupon_kind_of =="delivery"){
				}else{
				}
				var pay = tot - point - coupon_discount;
				$('#id_coupon_price').val(coupon_discount);
				$('#id_pay_price').val(pay);
				$('#discount_display').text(coupon_discount);
				$('#real_pay_display').text(pay);
			});

			$('#buy_btn').click(function(e){
				//var mypage_check = $('input:checkbox[id="mypage_check"]').is(":checked");
				var IMP = window.IMP;
				IMP.init('imp89113577');
				IMP.request_pay({
				    pg : 'inicis', // version 1.1.0부터 지원.
				    pay_method : $('#pay_method:checked').val(), // 'card' : 신용카드 | 'trans' : 실시간계좌이체 | 'vbank' : 가상계좌 | 'phone' : 휴대폰소액결제
				    merchant_uid : 'merchant_' + new Date().getTime(),
				    name : '{{ pg_product_name }} 외',
				    amount : $('#id_pay_price').val(),
				    buyer_email : $('#id_email').val(),
				    buyer_name : $('#id_name').val(),
				    buyer_tel : $('#id_phone').val(),
				    buyer_addr : $('#id_address').val(),
					m_redirect_url : 'http://cosmetic0901.com/order/mobile_redirect/?order_id='+$('#id_order_id').val()+'&cart_id='+$('#id_cart_id').val()+'&item_price='+$('#id_item_price').val()+'&delivery_price='+$('#id_delivery_price').val()+'&cart_id='+$('#id_cart_id').val()+'&total_price='+$('#id_total_price').val()+'&total_price='+$('#id_total_price').val()+'&pay_price='+$('#id_pay_price').val()+'&point_price='+$('#id_point_price').val()+'&coupon_price='+$('#id_coupon_price').val()+'&point_made='+$('#id_point_made').val()+'&name='+$('#id_name').val()+'&email='+$('#id_email').val()+'&postcode='+$('#id_postcode').val()+'&address='+$('#id_address').val()+'&address_detail='+$('#id_address_detail').val()+'&phone='+$('#id_phone').val()+'&postscript='+$('#id_postscript').val()+'&username='+$('#id_username').val()+'&mypage_check='+$("input:checkbox[id='id_mypage_check']").is(":checked"),
				}, function(rsp) {
					    if ( rsp.success === true ) {
					        jQuery.ajax({
					            url: "/order/complete/",
					            type: 'POST',
					            dataType: 'json',
					            data: {
					                imp_uid : rsp.imp_uid,
					                paid_amount : rsp.paid_amount,
					                //기타 필요한 데이터가 있으면 추가 전달
					            }
					        }).done(function(data) {
					            //[2] 서버에서 REST API로 결제정보확인 및 서비스루틴이 정상적인 경우
					            if ( data.check === true ) {
					                var msg = '결제가 완료되었습니다.';
					                msg += '\n고유ID : ' + rsp.imp_uid;
					                msg += '\n상점 거래ID : ' + rsp.merchant_uid;
					                msg += '\결제 금액 : ' + rsp.paid_amount;
					                msg += '카드 승인번호 : ' + rsp.apply_num;

					                alert(msg);
										$("#aksgdltktpdy").submit();

					            } else {
					            		alert('제대로 결제가 되지 않았습니다. 관리자에게 문의해주세요.');
					                //[3] 아직 제대로 결제가 되지 않았습니다.
					                //[4] 결제된 금액이 요청한 금액과 달라 결제를 자동취소처리하였습니다.
					            }
					        });
					    } else {
					        var msg = '결제에 실패하였습니다.';
					        msg += '에러내용 : ' + rsp.error_msg;

					        alert(msg);
					    }
					});
			});
		});
		</script>
		<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
		<script>
		    // 우편번호 찾기 찾기 화면을 넣을 element
		    var element_wrap = document.getElementById('wrap');

		    function foldDaumPostcode() {
		        // iframe을 넣은 element를 안보이게 한다.
		        element_wrap.style.display = 'none';
		    }

		    function sample3_execDaumPostcode() {
		        // 현재 scroll 위치를 저장해놓는다.
		        var currentScroll = Math.max(document.body.scrollTop, document.documentElement.scrollTop);
		        new daum.Postcode({
		            oncomplete: function(data) {
		                // 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

		                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
		                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
		                var fullAddr = data.address; // 최종 주소 변수
		                var extraAddr = ''; // 조합형 주소 변수

		                // 기본 주소가 도로명 타입일때 조합한다.
		                if(data.addressType === 'R'){
		                    //법정동명이 있을 경우 추가한다.
		                    //if(data.bname !== ''){
		                    //    extraAddr += data.bname;
		                    //}
		                    // 건물명이 있을 경우 추가한다.
		                    if(data.buildingName !== ''){
		                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
		                    }
		                    // 조합형주소의 유무에 따라 양쪽에 괄호를 추가하여 최종 주소를 만든다.
		                    fullAddr += (extraAddr !== '' ? ' '+ extraAddr +' ' : '');
		                }

		                // 우편번호와 주소 정보를 해당 필드에 넣는다.
		                document.getElementById('postcode').value = data.zonecode; //5자리 새우편번호 사용
		                document.getElementById('address').value = fullAddr;

		                // iframe을 넣은 element를 안보이게 한다.
		                // (autoClose:false 기능을 이용한다면, 아래 코드를 제거해야 화면에서 사라지지 않는다.)
		                element_wrap.style.display = 'none';

		                // 우편번호 찾기 화면이 보이기 이전으로 scroll 위치를 되돌린다.
		                document.body.scrollTop = currentScroll;
		            },
		            // 우편번호 찾기 화면 크기가 조정되었을때 실행할 코드를 작성하는 부분. iframe을 넣은 element의 높이값을 조정한다.
		            onresize : function(size) {
		                element_wrap.style.height = size.height+'px';
		            },
		            width : '100%',
		            height : '100%'
		        }).embed(element_wrap);

		        // iframe을 넣은 element를 보이게 한다.
		        element_wrap.style.display = 'block';
		    }
		</script>
	</div>
</div>
{% endblock %}