{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<style>

.checks {position: relative;}

.checks input[type="checkbox"] {  /* 실제 체크박스는 화면에서 숨김 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0
}
.checks input[type="checkbox"] + label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.checks input[type="checkbox"] + label:before {  /* 가짜 체크박스 */
  content: ' ';
  display: inline-block;
  width: 21px;  /* 체크박스의 너비를 지정 */
  height: 21px;  /* 체크박스의 높이를 지정 */
  line-height: 21px; /* 세로정렬을 위해 높이값과 일치 */
  margin: -2px 8px 0 0;
  text-align: center; 
  vertical-align: middle;
  background: #fafafa;
  border: 1px solid #cacece;
  border-radius : 3px;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
}
.checks input[type="checkbox"] + label:active:before,
.checks input[type="checkbox"]:checked + label:active:before {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.checks input[type="checkbox"]:checked + label:before {  /* 체크박스를 체크했을때 */ 
  content: '\2714';  /* 체크표시 유니코드 사용 */
  color: #99a1a7;
  text-shadow: 1px 1px #fff;
  background: #e9ecee;
  border-color: #adb8c0;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
}

.checks.etrans input[type="checkbox"] + label {
  padding-left: 30px;
}
.checks.etrans input[type="checkbox"] + label:before {
  position: absolute;
  left: 0;
  top: 40px;
  margin-top: 0;
  opacity: .6;
  box-shadow: none;
  border-color: #333;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

.checks.etrans input[type="checkbox"]:checked + label:before {
  position: absolute;
  content: "";
  width: 10px;
  top: 35px;
  left: 5px;
  border-radius: 0;
  opacity:1; 
  background: transparent;
  border-color:transparent #6cc0e5 #6cc0e5 transparent;
  border-top-color:transparent;
  border-left-color:transparent;
  -ms-transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
  transform:rotate(45deg);
}

.no-csstransforms .checks.etrans input[type="checkbox"]:checked + label:before {
  /*content:"\2713";*/
  content: "\2714";
  top: 0;
  left: 0;
  width: 21px;
  line-height: 21px;
  color: #6cc0e5;
  text-align: center;
  border: 1px solid #6cc0e5;
}

</style>
 
<div class="container">
	<h2>샘플 신청 가능한 제품들</h2>

	<form action="" method="post" id="sample_request_form">
		{% csrf_token %}

		<div class="row">
		{% for item in samples %}
		<div class="col-xs-12 col-sm-6 sample_item_div">
			<div class="row item_card_wrap">
				<div class="col-xs-4 sample_item_div_1">
					<a target="_blank" href="{% url 'detail' %}?item_id={{item.item_id}}" class="text-center">
						<img class="img-responsive" src="{{ item.image0.url }}">
					</a>
				</div>
				<div class="col-xs-6 sample_item_div_2">
					<a target="_blank" href="{% url 'detail' %}?item_id={{item.item_id}}" class="text-center">
						<h4>{{item.item_name}}</h4>
						<p>{{item.item_desc}}</p>
						<p><span class="glyphicon glyphicon-search" aria-hidden="true"></span></p>
					</a>
				</div>
				<div class="col-xs-2 sample_item_div_3 checks etrans">
					<input type="checkbox" value="{{ item.item_id }}" id="{{ item.item_id }}" name="sample_list" class="sample_list">
					<label for="{{ item.item_id }}">&nbsp;</label>
				</div>
			</div>
		</div>

		{% if forloop.counter|divisibleby:"2" %}
			<div class="clearfix visible-sm-block visible-md-block visible-lg-block"></div>
		{% endif %}

		{% endfor %}
		</div>
		<div class="col-xs-12 col-sm-4 col-sm-offset-4">

			<div class="form-group">
				<label for="id_name">성함</label>
				{{ sample_form.name }}
			</div>
			<div class="form-group">
				<label for="id_password">비밀번호(조회용)</label>
				{{ sample_form.password }}
			</div>
			<div class="form-group">
				<label for="id_phone">연락처</label>
				{{ sample_form.phone }}
			</div>
			<div class="form-group">
				<label for="id_postcode">주소</label><br/>
				{{ sample_form.postcode }}
				<input type="button" id="postcode_btn" class="btn btn-success" onclick="sample3_execDaumPostcode()" value="우편번호 찾기">
				<div id="wrap" style="display:none;border:1px solid;width:320px;height:500px;margin:5px 0;position:relative">
				<img src="//i1.daumcdn.net/localimg/localimages/07/postcode/320/close.png" id="btnFoldWrap" style="cursor:pointer;position:absolute;right:0px;top:-1px;z-index:1" onclick="foldDaumPostcode()" alt="접기 버튼">
				</div>			
				{{ sample_form.address1 }}
				{{ sample_form.address2 }}
			</div>
			<a onclick="form_submit();" class="btn btn-primary btn-lg">신청완료</a>
		</div>
	</form>

</div>
<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
<script src="{% static 'js/sample_request.js' %}"></script>

{% endblock %}