{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
	<h2>샘플 신청 가능한 제품들</h2>

	<form action="" method="post" id="sample_request_form">
		{% csrf_token %}
		<div class="row">
			{% for item in samples %}
			<div class="item_card_wrap">
				<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 item_card" class="text-center">
					<a target="_blank" href="{% url 'detail' %}?item_id={{item.item_id}}" class="text-center">
						<img class="img-responsive" src="{{ item.image0.url }}">
						<h4>{{item.item_name}}</h4>
					</a>
					<p class="text-center">
						<input type="checkbox" value="{{ item.item_id }}" name="sample_list">&nbsp;
						<a target="_blank" href="{% url 'detail' %}?item_id={{item.item_id}}" class="text-center">
							상세보기&nbsp;<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
						</a>
					</p>
				</div>
			</div>
			{% if forloop.counter|divisibleby:"2" %}
				{%  if forloop.counter|divisibleby:"4" %}
					<div class="clearfix visible-md-block visible-lg-block"></div>
				{%  else %}
					<div class="clearfix visible-xs-block visible-sm-block"></div>
				{% endif %}
			{% endif %}
			{% endfor %}
		</div>
		<div class="col-xs-12 col-sm-4 col-sm-offset-4">

			<div class="form-group">
				<label for="id_name">성함</label>
				{{ sample_form.name }}
			</div>
			<div class="form-group">
				<label for="id_password">비밀번호(조회용)</label>
				{{ sample_form.password }}
			</div>
			<div class="form-group">
				<label for="id_phone">연락처</label>
				{{ sample_form.phone }}
			</div>
			<div class="form-group">
				<label for="id_postcode">주소</label><br/>
				{{ sample_form.postcode }}
				<input type="button" id="postcode_btn" class="btn btn-success" onclick="sample3_execDaumPostcode()" value="우편번호 찾기">
				<div id="wrap" style="display:none;border:1px solid;width:320px;height:500px;margin:5px 0;position:relative">
				<img src="//i1.daumcdn.net/localimg/localimages/07/postcode/320/close.png" id="btnFoldWrap" style="cursor:pointer;position:absolute;right:0px;top:-1px;z-index:1" onclick="foldDaumPostcode()" alt="접기 버튼">
				</div>			
				{{ sample_form.address1 }}
				{{ sample_form.address2 }}
			</div>
			<a onclick="form_submit();" class="btn btn-primary btn-lg">신청완료</a>
		</div>
	</form>

</div>
<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
<script src="{% static 'js/sample_request.js' %}"></script>

{% endblock %}