{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
	<div class="container">
		<h2>샘플 선물받으실 분들</h2>
		<table class="table text-center">
			<thead>
				<tr class="text-center">
					<th class="text-center">성함</th>
					<th class="text-center">등록일</th>
					<th class="text-center">상태</th>
				</tr>
			</thead>
			<tbody>
				{% for item in sample_list %}
					<tr>
						<td><a href="/sample/detail/{{item.id}}">{{item.name|slice:":1" }}*{{item.name|slice:"2:" }} <span class="glyphicon glyphicon-search" aria-hidden="true"></span></a></td>
						<td>{{item.request_date|date:"y-m-d" }}</td>
						<td>{{item.status}}  {% if request.user.is_superuser %}<a href="{% url 'sms_send_form' %}?phone_num={{item.phone}}" target="_blank">문자</a>{% endif %}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	<nav class="text-center">
	  <ul class="pagination">
	  {% if sample_list.has_previous %}
	    <li>
	      <a class="btn btn-default" href="?page={{ sample_list.previous_page_number }}">
	        <span aria-hidden="true">&laquo;</span>
	      </a>
	    </li>
	  {% endif %}
	    <li><a href="#">{{ sample_list.number }} 페이지</a></li>
	   {% if sample_list.has_next %}
	    <li>
			<a class="btn btn-default" href="?page={{ sample_list.next_page_number }}">
				<span aria-hidden="true">&raquo;</span>
	      </a>
	    </li>
	    {% endif %}
	  </ul>
	</nav>
	<div class="clearfix"></div>

		<a href="/sample/request/" class="btn btn-lg btn-primary pull-right">샘플선물 받으러 가기</a>
	</div>
{% endblock %}