{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
	<div class="text-center">
	  <h2>본인 확인</h2>
	  <br/><br/>
	</div>
	<div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <form action="" method="POST">
        {% csrf_token %}
          <div class="form-group">
            <label for="password">비밀번호</label>
			 <input type="password" name="password" class="form-control">
          </div>
          <br/>
          <a type="submit" class="text-center btn btn-lg btn-primary pull-right">
            확인
          </a>
        </form>
    </div>
</div>
{% endblock %}